name: Deg2rad workflow
on:
  push
jobs:
  pusher_checker:
    runs-on: ubuntu-latest
    steps:
      - 
        name: pull repo
        uses: actions/checkout@v3
      -
        name: testing
        run: |
          chmod +x ./test.sh
          ./test.sh
